doctype html
html(lang='pt-BR')
   include head.jade
   body
    .container
      .jumbotron
        .container
          h1 Endereço
          p Seu endereço atual é:
          p Av Wallace Simonsen, 1279
          p Nova Petrópolis S.B.Campo - SP - 09771-211
          p Se desejar entregar em outro endereço selecione abaixo.
      .col-xs-12
        .col-xs-12.col-sm-6
          p Av Wallace Simonsen, 1279
          p Nova Petrópolis S.B.Campo - SP - 09771-211
        .col-xs-12.col-sm-6
          p Av Wallace Simonsen, 1279
          p Nova Petrópolis S.B.Campo - SP - 09771-211